.container {
    display: flex;
    justify-content: center;
}

body {
    text-align: center;
}

.link {
    display: block;
}

.note {
    width: auto;
    margin: 20px;
    margin-top: 50px;
}

.form {
    display: none;
}

.post {
    margin: 50px;
    max-width: 50vh;
    height: auto;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    text-align: center;
}

.current {
    transform: translateX(0%);
}

.moved-left {
    transform: translateX(-10%);
}

.slide {
    transition: transform 1s;
}

#scrape {
    font-size: 30px;
}

button.green {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#scrape:hover {
    cursor: pointer;
}

button.green {
    background: rgb(194, 0, 0);
    color: #fff;
    border: none;
    position: relative;
    font-size: 1.6em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

button.green:hover {
    background: #fff;
    color: rgba(199, 0, 0, 0.527);
}

button.green:before,
button.green:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: rgba(175, 0, 0, 0.699);
    transition: 400ms ease all;
}

button.green:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button.green:hover:before,
button.green:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

body {
    background-image: url("./background3.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.outline {
    color: #fff;
    text-shadow: #000 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
}